<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72441415919-54n21pj5l2104n13o3ebrq2aqj38g6m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72441415919-54n21pj5l2104n13o3ebrq2aqj38g6m4</string>
	<key>API_KEY</key>
	<string>AIzaSyAHIKjmeS4h-chV21hvSDUr-JDrqL8mPjs</string>
	<key>GCM_SENDER_ID</key>
	<string>72441415919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Majestic</string>
	<key>PROJECT_ID</key>
	<string>majesticcenter-311db</string>
	<key>STORAGE_BUCKET</key>
	<string>majesticcenter-311db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72441415919:ios:f1fb0eb60329573a6af31a</string>
</dict>
</plist>